
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #983a3a; /* Fondo intermedio */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #37a8ce;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

/* Estilos del contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    margin: 10px 0;
}

/* Estilos del video de YouTube */
iframe {
    max-width: 100%;
}

/* Estilos del video local */
video {
    width: 15%;
    height: auto;
    margin-top: 25px;
}

/* Estilos del botón de regreso */
button {
    padding: 10px;
    background-color: #3498db;
    color: #ca2222;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 0, 0);
}

/* Estilos del pie de página */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Estilos de los elementos en línea */
span, i {
    display: inline-block;
    margin: 10px 0;
}